.App {
  padding: 16px;
  max-width: 1024px;
  margin: auto;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hora {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #282c345e;
}

.Guardia {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #282c345e;
}

.Bono {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #282c345e;
}

.Sueldo {
  margin-top: 16px;
  padding: 16px;
  text-align: center;
  background-color: #282c342d;
}
